//VARIABLES
$red: #C94E50;
$red-alt: darken($red, 15%);
$blue: #334D5C;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  font-size: 1.6rem;
  height: 100%;
}

#app {
  min-height: 100vh;
}

button,
input,
select {
  font-size: 1.3rem;
}

h1 {
  color: white;
  font-weight: 300;
  font-size: 2.4rem;
}

h2 {
  padding: 1.3rem;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover,
a:visited {
  color: #555555;
}

header {
  background-color: $blue;
  color: white;
}

#results {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .result {
    width: 50%;
  }
}

.message--alert {
  color: $red;
}

.message--normal {
  color: $blue;
}

path {
  transition: all 0.2s ease !important;
}

.main {
  min-height: 100vh;
  position: relative;
}

footer {
  background-color: #3B3B3B;
  color: #CFCFCF;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0px;
  height: 40px;
  width: 100%;

  a {
    color: #FFF !important;
  }
}
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/form';
@import './components/loader';
@import './components/tooltip';
@import './components/resultbar';
@import './components/modal';
@import './components/pagination';
