.button {
  background: white;
  line-height: 1;
  color: $blue;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
  outline: none;
  padding: 1.3rem;
  border:1px solid $blue;
  transition:all .2s ease;
  width: 20rem;

  &:hover, &:focus{
    background-color: $blue;
    color: white;
  }
}

.button--round {
  border-radius: 50%;
  height:4rem;
  width:4rem;
}

.no-btn {
  border: none;
  background: none;

  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
