.item {
  background-color: #FFFFFF;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__list {
  min-height: 400px;
}

.item--flex {
  display: flex;
  justify-content: space-between;
}

.item__message {
  color:#555555;
  font-size:1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.item--title {
  font-size: 2rem;
  font-weight: 300;
}

.item--info {
  font-size: 1.8rem;
  font-weight: 300;
}
