.wrapper {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem 1.3rem 70px 1.3rem;
}

.wrapper--flex {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1.3rem;
  display: flex;
  justify-content: space-around;
}

.wrapper--fluid {
  max-width: 100rem;
}
